@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
 <a href="#" class="dropdown-toggle btn btn-success ">
            <span class="glyphicon glyphicon-user"></span>
     <span data-ng-show="ShowName">Hello, @User.Identity.GetUserName()</span>
     <span class="caret"></span>
        </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="link">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i>&nbsp;Logout</a>
            }
        </li>
    </ul>
}
